/*estilização do nome do site*/
.customizção-do-titulo{
    text-align: center;
    padding : 30px;
    font-size: 50px;
    color:white;
 
}
#fundo-da-div{
    background-color: rgb(200, 36, 36);
    margin:0
 
}




/* Estilização do menu */
.exibicao-do-menu{
    display:inline;
    padding:20px;
}

.estlizacao-dos-links{
    background-color: rgb(200, 36, 36);
    color:white;
    border:white
}


/*Estilizações gerais*/
body{
    background-color:rgb(19, 9, 83);
    color: white
}

p{
    color:rgb(19, 9, 83);
    font-size: 25px;
    width:500px;
   

}
p:hover{
    color:white;
    background-color:#ee1147
}

#tamanho-do-titulo{
    font-size:35px;
}
h4{
    text-align:center;
    font-size:20px;
  color:#ee1147;
}