/* Parte Superior da página */
header{
    background-color: orange;
    display:flex;
    align-items: center;
    padding:0 0 0 20px;
    
}
.campo-de-busca{
    padding:0 0 0 60vw;
}

/* Conteúdo Da Página */

button{
    background-color: orange;
}
button:hover{
    background-color:lightsalmon ;
    cursor: pointer;
}


body{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    height:100vh;    
    
}

main{
    display:grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns:1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: stretch;
  
}

.container{
    border: 3px solid black;

}
video{
    height: 25vh;

}

/* Parte Inferior Da página */
footer{
    background-color: orange;
    text-align: center;
    font-size: 20px;
}

/* Estilização das páginas dedicadas para 
os vídeos */
.paginas-dedicadas-p-videos{
width:50vw;
height:80vh;
}




